streamlit==1.42.2

python-dotenv==1.0.0

opencv-python-headless

langchain==0.3.20
langchain-core==0.3.45
langchain-google-genai
langchain-groq

ultralytics==8.3.103

xgboost==3.0.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2

torch>=2.9.0
torchvision